<table class="table responsive">
    <thead>
        <tr>
            <th>Nombre Persona</th>
            <th>Apellido Persona</th>
            <th>Correo</th>
            <th>Nombre Producto</th>
            <th>imagen</th>
            <th>Costo</th>
            <th>imagen</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "">
            <td></td>
            <td></td>
            <td><img src="" class="imgproducto"/></td>
            <td><a routerLink="/administracion/editar-producto}" class="btn">Editar</a></td>  
            <td><a routerLink="/administracion/eliminar-producto}" class="btn btn-danger">Eliminar</a></td>  
        </tr>
    </tbody>
</table> 

<br>
<a routerLink="/administracion/crear-producto" class="btn">Crear Producto</a>

