<div class="container col s8">
    <div class="row">
      <nav>
        <div class="nav-wrapper">
          <div class="col s8">
            <h3 class="brand-logo col s8">Crear Rol Personas</h3>
          </div>
        </div>
      </nav>
    </div>
    <form [formGroup]= "fgCreacion" (ngSubmit)="CrearUsuario()" class="col s14">
        <div class="row">
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">contacts</i>
                <input formControlName="nombres" id="first_name" type="text" class="validate">
                <label for="first_name">Nombres</label>
            </div>
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">contacts</i>
                <input formControlName="apellidos" id="last_name" type="text" class="validate">
                <label for="last_name">Apellidos</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">email</i>
                <input formControlName="correo" id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">phone</i>
                <input formControlName="celular" id="celular" type="text" class="validate">
                <label for="celular">Celular</label>
            </div>
        </div>


        <label ><h6>Rol</h6></label>
        <div class="row">
            <div class="input-field hoverable col s4">
                <label>
                    <input type="checkbox" formControlName="rol" id="administrador" class="validate" (click)="rol('ADMINISTRADOR')"/>
                    <span>Administrador</span>
                </label>
            </div>

            <div class="input-field hoverable col s4">
                <label>
                    <input type="checkbox" formControlName="rol" id="asesor" class="validate" (click)="rol('ASESOR')"/>
                    <span>Asesor</span>
                </label>
            </div>

            <div class="input-field hoverable col s4">
                <label>
                    <input type="checkbox" formControlName="rol" id="cliente" class="validate" (click)="rol('CLIENTE')"/>
                    <span>Cliente</span>
                  </label>
            </div>
        </div>
        <br>
        <div class="input-field hoverable col s12">
            <form [formGroup]="fgCreacion">
                <ngx-recaptcha2 #captchaElem
                    [siteKey]= "siteKey"
                    formControlName ='captcha'>
                </ngx-recaptcha2>
            </form><br>
        </div>

        
      
        <input [disabled]="!fgCreacion.valid" (click)="CrearUsuario()" type="button" value="Registrarse" name="login" 
            class="btn waves-effect waves-light " 
            style="width:100%; background-color: #ff4081;">
    </form>
</div>

