<table class="table responsive">
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Rol</th>
            <th>Edicion</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let p of ListaPersonas">
            <td>{{p.nombres}}</td>
            <td>{{p.apellidos}}</td>
            <td>{{p.correo}}</td>
            <td>{{p.celular}}</td>
            <td>{{p.rol}}</td>
            <td><a routerLink="/administracion/editar-persona/{{p.id}}" class="btn">Editar</a></td> 
            <td><a routerLink="/administracion/eliminar-persona/{{p.id}}" class="btn">Eliminar</a></td> 
        </tr>
    </tbody>
</table> 

<br>
<a routerLink="/administracion/crear-rol-persona" class="btn">Crear Persona</a>

